<h1 class="text-center">Edit User</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= form_for(@user) do |f| %>
    <input name="_method" type="hidden" value="patch" />
    <%= render 'shared/error_messages' %>
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %><br>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %><br>

      <%= f.submit "Update User", class: "btn btn-primary" %>
  </div>
     <% end %>
   </div>
 </div>
