
<!-- #form_tag implementation

<#%= form_tag({controller: "users", action: "create" }, method: "post") do %>

  <#%= label_tag :name %>
  <#%= text_field(:user, :name) %><br>
      
  <#%= label_tag :email %>
  <#%= text_field(:user, :email) %><br>

  <#%= label_tag :password %>
  <#%= password_field(:user, :password) %><br>

  <#%= submit_tag "Create User", class: "btn btn-primary" %>
<#% end %>
-->
    
<!-- #form_for implementation -->

<h1 class="text-center">New User</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %><br>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %><br>

      <%= f.submit "Create User", class: "btn btn-success" %>
     <% end %>
   </div>
 </div>

