<h1 class="text-center">User Profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, method: :get) do |f| %>
    <%= render 'shared/error_messages' %>
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', :readonly => true %><br>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', :readonly => true %><br>
      
       <%= link_to "Edit User", edit_user_path, class: "btn btn-primary" %>
     <% end %>
   </div>
 </div>
 

